{% extends "base.html" %}

{% block title %}Clientes - The Pack{% endblock %}

{% block content %}
    <h1>Servicios de The Pack</h1>
    
    {% for servicio in servicios %}
        <div>
            <h2>{{ servicio.nombre }}</h2>
            <p>Duracion: {{ servicio.duracion_min }}</p>
            <p>Precio: ${{ servicio.precio }}</p>
        </div>
    {% empty %}
    
        <!-- Esto se muestra si no hay servicios en la BD -->
        <p>No hay Servicios registrados.</p>
    {% endfor %}
{% endblock %}